include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    table.table2
      thead
        tr
          td.center.head.bold(colspan=7) #{hospname}
        tr
          td.center.head(colspan=7) รายงานเจ้าหนี้การค้า
        tr
          td.left.head(colspan=3) หมวดสินค้า : #{genericTypeName}
          td.right.head(colspan=4) #{printDate}
    table.table2
      thead
        tr
          th(style='width:5%').center ที่
          th(style='width:15%').left เลขที่ใบสั่งซื้อ
          th(style='width:15%').left เลขที่ใบส่งของ
          th(style='width:15%').left วันที่ส่งของ
          th(style='width:35%').center เจ้าหนี้
          th(style='width:10%').right มูลค่า
          th(style='width:10%').center ส่งเขียนเช็ค
          th(style='width:10%').center รับเช็ค
      tbody
      - no = 0
        - for(let i of details)
          tr
            td.center #{++no}
            td #{i.purchase_order_book_number ? i.purchase_order_book_number:i.purchase_order_number}
            td #{i.delivery_code}
            td #{i.delivery_date}
            td #{i.labeler_name}
            td.right #{i.cost}
            td 
            td
      tfoot
        tr
          td.bold.right(colspan="4")  รวม
          td.bold.right #{sumCost}
        tr
          td(colspan="7") <br>
        tr
          td(colspan="3").center ....................................................................ผู้ส่ง
          td
          td(colspan="3").center ....................................................................ผู้รับ 
           
        