include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    table.table
      thead
        tr 
          td.center.bold(colspan='9') #{hospitalName} 
        tr 
          td.center.bold(colspan='9') ใบจัดเวชภัณฑ์ตามใบเบิก
        tr 
          td.center(colspan='9') วันที่เบิก #{create_date}
        tr 
          td.left(colspan='9') ใบเบิกเลขที่ #{rs[0].addition_code}
        tr 
          td.left(colspan='9') ณ วันที่ #{today}
      tbody
      for a in rs
        tr.dash-top
          td(style='border:none;') รหัสยา 
          td(colspan='8') : #{a.working_code}
        tr
          td ชื่อสามัญ
          td(colspan='6') : #{a.generic_name}
          td ยอดแนะนำ
          td #{a.to_refill}
        tr
          td หน่วยบรรจุ
          td : #{a.large_unit}
          td
          td
          td(align="right") รูปแบบ
          td(colspan='2')  : #{a.small_unit}
          td จำนวนเบิก
          td #{a.addition_qty}
        tr
          td
          td.left(colspan='3') ชื่อทางการค้า 
          td จำนวนเบิก
          td วันหมดอายุ
          td ที่เก็บ
          td เลขทะเบียน
          td คงเหลือ
        tr.dash-bottom
          td(colspan='4').left #{a.product_name}
          td #{a.addition_qty}
          td #{a.expired_date}
          td #{a.warehouse_name}
          td 
          td #{a.total_addition_qty}