include css.pug
doctype html
style.
  @page{
   margin-top: 1.0cm;
   margin-left: 0.5cm;
   margin-right: 0.5cm;
 }
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    - var ss=0
      for i in approve_requis
        - var sss=0
          for c in i
            span.page
            table.table(style="font-size: 13pt;")
              thead
                tr 
                  td.center.bold(colspan='10')(style="font-size: 15pt;") #{hospitalName} 
                tr 
                  td.center.bold(colspan='10')(style="font-size: 15pt;") ใบอนุมัติเบิก
                tr 
                  td.left(colspan='5')(style="font-size: 15pt;") เลขที่ใบเบิก #{c[0].requisition_code}
                  td.right(colspan='5')(style="font-size: 15pt;") วันที่อนุมัติ #{c[0].confirm_date}
                tr 
                  td.left(colspan='10')(style="font-size: 15pt;") หน่วยงานที่เบิก #{c[0].warehouse_name}
                tr 
                  td.left(colspan='10')(style="font-size: 15pt;") ณ วันที่ #{today[ss]}
                tr 
                  td.left(colspan='10')(style="font-size: 15pt; padding-bottom: 10px;") อนุมัติให้เบิกเวชภัณฑ์ตามรายการนี้
                tr 
                  th.left #
                  th.left ชื่อเวชภัณฑ์
                  th
                  th.left รูปแบบ
                  th.left lot
                  th.right จำนวนขอเบิก
                  th.right จำนวนอนุมัติ
                  th.right มูลค่า/หน่วย
                  th.right วันหมดอายุ
                  th.right รวมมูลค่า
              tbody
              - var y=0
              for a in c
                - y++
                tr 
                  td #{y}.
                  td(style="font-size: 12pt;") &nbsp;#{a.generic_name}
                  td
                  td #{a.dosage_name}
                  td(style="font-size: 12pt;") #{a.lot_no}
                  td.right(style="font-size: 12pt;") #{a.requisition_qty} #{a.large_unit} (#{a.small_qty} #{a.small_unit})
                  td.right(style="font-size: 12pt;") #{a.requisition_qty} #{a.large_unit} (#{a.small_qty} #{a.small_unit})
                  td.right #{a.cost}&nbsp;&nbsp;&nbsp;
                  td.right(style="font-size: 12pt;") #{a.expired_date}
                  td.right(style="font-size: 12pt;") #{a.total_cost}
                .pagebreak
              tfoot
                tr.dash-top
                  td(colspan='10' height='10px;')
                tr
                  td.right(colspan='10') รวมทั้งหมด #{y} รายการ | คิดเป็นมูลค่า #{sum[ss]} บาท
                tr 
                  td(colspan='10') &nbsp; 
                tr 
                  td(colspan='10') &nbsp; 
                tr 
                  td(colspan='10') &nbsp; 
                tr 
                  td.center(colspan='5' style="padding-right:2%;") ลงชื่อ.....................................................................(ผู้เบิก)
                    br
                    br
                    | (.....................................................................)
                  td.center(colspan='5' style="padding-right:2%;") ลงชื่อ.....................................................................(ผู้จ่าย)
                    br
                    br
                    | (.....................................................................)
                tr 
                  td(colspan='10') &nbsp; 
                tr 
                  td(colspan='10') &nbsp; 
                tr 
                  td(colspan='10') &nbsp; 
                tr 
                  td.center(colspan='5' style="padding-right:2%;") ลงชื่อ.....................................................................(ผู้อนุมัติ)
                    br
                    br
                    | (.....................................................................)
                  td.center(colspan='5' style="padding-right:2%;") ลงชื่อ.....................................................................(ผู้รับ)
                    br
                    br
                    | (.....................................................................)
            - sss++          
        - ss++
        .pagebreak