include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    - var l=0
    - for(var i of approve_requis)
      - for(var c of i)
        span.page
        table.table(style="font-size: 13pt;")
          thead
            tr
              td.right(colspan='9') #{c[0].sPage} / #{c[0].nPage}
            tr 
              td.center.bold(colspan='9')(style="font-size: 15pt;") #{hospitalName} 
            tr 
              td.center.bold(colspan='9')(style="font-size: 15pt;") ใบจัดเวชภัณฑ์ตามใบเบิก
            tr 
              td.left(colspan='4')(style="font-size: 15pt;") เลขที่ใบเบิก #{c[0].requisition_code}
              td.right(colspan='5')(style="font-size: 15pt;") วันที่อนุมัติ #{c[0].approve_date}
            tr 
              td.left(colspan='9')(style="font-size: 15pt;") หน่วยงานที่เบิก #{c[0].warehouse_name}
            tr 
              td.left(colspan='9')(style="font-size: 15pt;") #{c[0].today}
            tr 
              td.left(colspan='9')(style="font-size: 15pt; padding-bottom: 10px;") อนุมัติให้เบิกเวชภัณฑ์ตามรายการนี้
            tr 
              th.left(style="width: 1%;") #
              th.left(style="width: 31%;") ชื่อเวชภัณฑ์
              //- th.left(style="width: 5%;") รูปแบบ
              th.right(style="width: 14%;") จำนวนอนุมัติ&nbsp;
              th.left(style="width: 8%;") &nbsp;lot
              th.right(style="width: 7%;") วันหมดอายุ
              th.right(style="width: 12%;") คงคลัง
              th.right(style="width: 12%;") สถานที่เก็บ
          tbody
          - var y=0
          - var s=0
          for a in c
            - y++
            tr
              if ( (y-1) === 0)
                td #{s+1}.
                td(style="font-size: 12pt;") &nbsp;#{a.generic_name}
                //- td(style="font-size: 12pt;") &nbsp;#{a.dosage_name}
                - s++
              else
                if ( c[y-2].generic_name !== a.generic_name )  
                  td #{s+1}.
                  td(style="font-size: 12pt;") &nbsp;#{a.generic_name}
                  //- td(style="font-size: 12pt;") &nbsp;#{a.dosage_name}
                  - s++
                else 
                  td 
                  td 
                  //- td.right 
              td.right(style="font-size: 12pt;") &nbsp;#{a.confirm_qty} #{a.large_unit} (#{a.conversion_qty} #{a.small_unit}) &nbsp;
              td(style="font-size: 12pt; word-break:break-all;") &nbsp;#{a.lot_no}
              td.right(style="font-size: 12pt;") &nbsp;#{a.expired_date}
              if ( (y-1) === 0)
                td.right(style="font-size: 12pt;") &nbsp;#{a.generic_stock_qty }  #{a.small_unit}
              else
                if ( c[y-2].generic_name !== a.generic_name )  
                  td.right(style="font-size: 12pt;") &nbsp;#{a.generic_stock_qty }  #{a.small_unit}
                else 
                  td 
              td.right(style="font-size: 12pt;") &nbsp;#{a.location_name }
            .pagebreak
          tfoot
            tr.dash-top
              td(colspan='9' height='10px;')
            tr
              td.right(colspan='9') รวมทั้งหมด #{s} รายการ | คิดเป็นมูลค่า #{sum[l]} บาท
            tr 
              td(colspan='9') &nbsp; 
            tr 
              td(colspan='9') &nbsp; 
            tr 
              td(colspan='9') &nbsp; 
        - l++
          table.table(style="font-size: 13pt;")
            tr
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td.right ผู้จัดยา
              td.center(style="border-bottom:1px dashed black;width:25%;")
              td.left ลงชื่อ
      .pagebreak
      

      
