include css.pug
style(type='text/css').
  body{
  font-family:'THSarabunNewIT';
  font-size: 15.5pt;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    -var s = 0;
    - for(var i of head)
      .center.bold บันทึกการตรวจรับพัสดุ
      br
      table.table
        tr
          td.right(style="padding-right: 50px;") วันที่ #{i.receive_date}
      .fontspace
      | ตามกรรมการผู้มีรายนามและตำแหน่งข้างท้าย ได้พร้อมกันตรวจรับ #{i.generic_type_name}
      | ซึ่ง #{i.labeler_name_po} ผู้ขายได้นำส่งตามใบสั่งซื้อของ#{hospitalDetail.hospname}
      | เลขที่ #{i.poNumber}
      | ลงวันที่ #{i.order_date} 
      | เพื่อใช้ในงานการรักษาของ#{hospitalDetail.hospname}
      - if(i.details.length <= 5)
        | ดังปรากฏรายละเอียดตรวจรับ คือ
        table.table
          for v in i.details
            tr
              td.right #{v.generic_type_name} 
              td.right &nbsp;&nbsp;#{v.totalItem}&nbsp;&nbsp;
              td.left รายการ 
              td.right ตามใบส่งของเลขที่ &nbsp;&nbsp;&nbsp;
              td.left #{v.delivery_code} &nbsp;&nbsp;&nbsp;
              td.right เป็นเงิน 
              td.right #{v.total_price} &nbsp;
              td.left บาท 
              td.left 
          tr
            td(colspan='4').right รวมเป็นเงินทั้งสิ้น
            td.right #{i.totalPrice} &nbsp;
            td(colspan='4').left บาท (#{i.bahtText})
        br
      - else
        | ดังปรากฏรายละเอียดตรวจรับตามใบแนบเลขที่ #{i.poNumber}
      | คณะกรรมการตรวจรับพัสดุเห็นว่ามีปริมาณและคุณภาพถูกต้องครบถ้วน และได้ส่งมอบให้เจ้าหน้าที่พัสดุรับไว้เรียบร้อยแล้ว 
      | จึงพร้อมกันลงลายมือชื่อไว้เป็นหลักฐาน
      br
      table(style="width: 90%; margin-left: 5%;")
          for v in i.committee
              tr
                td
                td(style="height:20px;")
                td 
                td
              tr
                td.right(width="5%") (ลงชื่อ)
                td.center(width="50%") ........................................................... 
                td.left ตำแหน่ง #{v.position_name}
                td.left &nbsp;#{v.position}
              tr
                td
                td.center (#{v.fullname})
                td.center 
                td
      | ได้รับมอบพัสดุรายการข้างต้นจากคณะกรรมการตรวจรับพัสดุไว้แล้วเพื่อเบิกจ่ายต่อไป
      br
      br
      table(style="width: 80%;")
        tr
          td.right(width="5%") (ลงชื่อ)
          td.center(width="20%") ...........................................................
          td.left ตำแหน่ง #{i.supply.position_name}
          td.left &nbsp; #{i.supply.position}
        tr
          td
          td.center ( #{i.supply.fullname} )
          td
          td
      | เรียน  ผู้ว่าราชการจังหวัด#{hospitalDetail.province}
      br
      .fontspace
      | คณะกรรมการได้ตรวจรับเวชภัณฑ์ ดังกล่าวถูกต้องแล้ว การส่งมอบ ( &nbsp; ) ภายในกำหนด ( &nbsp; ) เกินกำหนด เห็นควรอนุมัติให้เบิกจ่ายเงินบำรุงโรงพยาบาลประจำปีงบประมาณ #{i.serialYear} แก่ผู้ขายต่อไป
      br
      br
      br
      table(style='width:90%;margin-left:5%;')
        tr
          td.right(width="5%") (ลงชื่อ)
          td.center(width="50%") ...........................................................
          td.left 
        if(i.chief===null)
          tr
            td
            td.center 
            td
          tr
            td
            td.center 
            td
          tr
            td
            td.center หัวหน้าเจ้าหน้าที่
            td
        else
          tr
            td
            td.center (#{i.chief.fullname})
            td
          tr
            td
            td.center #{i.chief.position_name}
            td
          tr
            td
            td.center #{i.chief.position}
            td
        tr
          td
          td(style="height:20px;")
          td
        tr
          td
          td(style="height:60px;").center ทราบ
          td
        tr
          td.right(width="5%") (ลงชื่อ)
          td.center(width="50%") ...........................................................
          td.left 
        tr
          td.center 
          td.center  
            | (#{i.manager.fullname})
            br
            if(i.manager.position_name)
              | #{i.manager.position_name}
              br
            | #{i.manager.position}
            br
            | ปฏิบัติราชการแทนผู้ว่าราชการจังหวัด#{hospitalDetail.province}
          td
      .pagebreak
      //- - if(i.details.length > 5)
      //-   .center.bold รายละเอียดตรวจรับ(ใบแนบ)
      //-   br
      //-   table.table
      //-     tr
      //-       td.left เลขที่ #{i.poNumber}
      //-   br
      //-   br
      //-   table.table
      //-     for v in i.details
      //-       tr
      //-         td.right #{v.generic_type_name} 
      //-         td.right &nbsp;&nbsp;#{v.totalItem}&nbsp;&nbsp;
      //-         td.left รายการ 
      //-         td.right ตามใบส่งของเลขที่ &nbsp;
      //-         td.left #{v.delivery_code} 
      //-         td.right เป็นเงิน 
      //-         td.right #{v.total_price} &nbsp;
      //-         td.left บาท 
      //-         td.left (#{v.bahtText})
      //- .pagebreak