include css.pug
style(type='text/css').
  body{
  font-family:'THSarabunNewIT';
  font-size: 13pt;
  margin-left: 50px;
  margin-right: 50px;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    - for(var v of check_receive)
        img(src=APIURL+'krut.png', height='60px')
        .headkut.h1 บันทึกข้อความ
        br
        table.table
          tr
            td.left(colspan='2') ส่วนราชการ กลุ่มงานเภสัชกรรม #{hospitalName} จังหวัด#{province} โทร #{telephone}
          tr
            if(v.purchase_order_book_number !== null)
              td.left #{v.purchase_order_book_number}
            else
              td.left #{v.purchase_order_number}
            td.center(style="margin-left:42%;") วันที่ #{v.receive_date}
          tr
            td.left(colspan='2') เรื่อง รายงานผลการตรวจรับยา และรับมอบเข้าคลังเวชภัณฑ์ยา
          tr.tbfooter
            td(colspan='2')
        table.table
          tr  
            td.left(colspan='5') เรียน ผู้ว่าราชการจังหวัด#{province}
          tr
            if(v.purchase_order_book_number !== null)
              td.left(style="padding-left: 75px;" colspan='5') ตามใบสั่งซื้อเลขที่ #{v.purchase_order_book_number} ลงวันที่ #{v.podate} ผู้ตรวจรับพัสดุ /กรรมการตรวจรับ
            else
              td.left(style="padding-left: 75px;" colspan='5') ตามใบสั่งซื้อเลขที่ #{v.purchase_order_number} ลงวันที่ #{v.podate} ผู้ตรวจรับพัสดุ /กรรมการตรวจรับ
          tr
            td.left(colspan='3') ได้ร่วมกันตรวจรับพัสดุจากผู้ขาย &nbsp;&nbsp; #{v.labeler_name_po} &nbsp;&nbsp;
            td.right(colspan='2') เมื่อวันที่ #{v.receive_date}
              
          tr
            td.left(colspan='1') ตามใบส่งของเลขที่ #{v.delivery_code}
            td.left(colspan='1') 
              span รายละเอียดดังนี้
        - var i = 1
        table.table
          tr
            td ลำดับที่
            td ชื่อเวชภัณฑ์
            td จำนวน
            td ราคาต่อหน่วย
            td ราคารวม
          - for(var c of v.productReceive)
            tr
              td #{i}
              td #{c.product_name}
              td #{c.receive_qty} X #{c.qty} #{c.unit_name}
              td #{c.cost}
              td #{c.total_cost}
            - i++

        table.table
          tr  
            td.left(style="padding-left: 75px;" colspan='1')
              span จำนวน #{v.amount_qty} รายการ
            td.center(colspan='1') เป็นเงินทั้งสิน 
            td.center #{v.total_price} 
            td.center บาท 
          tr
            td.left(style="padding-left: 75px;" colspan='3' ) (..................#{v.bahtText}..................)
          tr
              td
              td(style="height:20px;")
              td 
              td
          tr
            td.left(style="padding-left: 75px;" colspan='4') เจ้าหน้าที่ได้รับมอบเวชภัณฑ์ดังกล่าวจาก ผู้ตรวจรับพัสดุ /คณะกรรมการตรวจรับ และได้มอบให้คลังเวชภัณฑ์
          tr
            td.left(colspan='4') เพื่อเข้าระบบการควบคุมทางบัญชีและเก็บรักษาในคลังเรียบร้อยแล้ว
        br
        table
          tr
            td(style="padding-left: 300px;")
            td.right(width="5%") (ลงชื่อ)
            td.center(width="20%") ...........................................................
            td.left เจ้าหน้าที่คลังยา
          tr
            td(style="padding-left: 200px;")
            td
            td.center ( ................................................ )
            td
          tr
            td(style="padding-left: 300px;")
            td.right(width="5%") (ลงชื่อ)
            td.center(width="20%") ...........................................................
            td.left เจ้าหน้าที่
          tr
            td(style="padding-left: 200px;")
            td
            td.center ( ................................................ )
            td
          //- tr
          //-   td(style="padding-left: 300px;")
          //-   td.right(width="5%") (ลงชื่อ)
          //-   td.center(width="20%") ...........................................................
          //-   td.left #{v.staffReceive.type_name}
          //- tr
          //-   td(style="padding-left: 200px;")
          //-   td
          //-   td.center ( #{v.staffReceive.title_name}#{v.staffReceive.fname}  #{v.staffReceive.lname} )
          //-   td
          //- tr
          //-   td(style="padding-left: 300px;")
          //-   td.right(width="5%") (ลงชื่อ)
          //-   td.center(width="20%") ...........................................................
          //-   td.left #{v.staffReceive.type_name}
          //- tr
          //-   td(style="padding-left: 200px;")
          //-   td
          //-   td.center ( #{v.staffReceive.title_name}#{v.staffReceive.fname}  #{v.staffReceive.lname} )
          //-   td
        br
        .fontspace
        | ตามที่ ผู้ขาย #{v.labeler_name_po} &nbsp;&nbsp; ได้ส่งมอบเวชภัณฑ์ยา ซึ่งผู้ตรวจรับ /คณะกรรมการตรวจรับ ได้ตรวจรับและส่งมอบเข้าระบบควบคุมทางบัญชีและเก็บรักษาไว้แล้ว จึงเห็นควรเบิกจ่ายงินจำนวน #{v.total_price} บาท
        br
        | (..#{v.bahtText}....) ให้ผู้ขายต่อไป
        br
        br
        table
          tr
            td
            td.center 
            td
            td
            td
            td.center ทราบ และอนุมัติ
            td
          tr
            td.right(width="5%")
            td.center(width="50%") ลงชื่อ..................................................หัวหน้าเจ้าหน้าที่
            td.left 
            td
            td.right(width="10%")
            td.center(width="50%") ...........................................................
            td.left 
          if(!v.chief)
            tr
              td
              td.center 
              td
              td
              td
              td.center (#{master})
              td
            tr
              td
              td.center 
              td
              td
              td
              td.center ผู้อำนวยการ#{hospitalName}
              td
            tr
              td
              td.center 
              td
              td
              td 
              td.center  ปฏิบัติราชการแทนผู้ว่าราชการจังหวัด#{province}
              td
          else
            tr
              td.
              td.left(style="padding-left: 55px;") (#{v.chief.title_name}#{v.chief.fname}  #{v.chief.lname})
              td
              td
              td
              td.center (#{master})
              td
            tr
              td
              td.center 
              td
              td
              td
              td.center ผู้อำนวยการ#{hospitalName}
              td
            tr
              td
              td.center 
              td
              td
              td 
              td.center  ปฏิบัติราชการแทนผู้ว่าราชการจังหวัด#{province}
              td
        - c++ 
        .pagebreak