include css.pug
style(type='text/css').
  body{
  font-family:'THSarabunNewIT';
  font-size: 15pt;
  margin-left: 50px;
  margin-right: 50px;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    - var c = 0
      for v in receiveID
        .center.bold บันทึกการตรวจรับพัสดุ
        br
        table.table
          tr
            td.left เลขที่รับ #{check_receive[c].receive_code}
            td.center(style="padding-right:35px;") เขียนที่ #{hospitalName}
        div(style='margin-left:35%;') วันที่ #{check_receive[c].receive_date}
        table.table
          tr  
            th(style="width:25%; border:0px")
            th(style="width:25%; border:0px")
            th(style="width:25%; border:0px")
            th(style="width:25%; border:0px")
          tr
            td.center(colspan='2') ตามบันทึกที่ #{check_receive[c].purchase_order_number}
            td.center(colspan='2') ลงวันที่ #{check_receive[c].podate}
          tr
            td.left(colspan='2') ได้แต่งตั้งคณะกรรมการตรวจรับพัสดุนั้น
            td.right(colspan='2') 
              span บัดนี้คณะกรรมการตรวจรับพัสดุได้ร่วมกันตรวจพัสดุซึ่ง
          tr
            td.left(colspan='2') #{check_receive[c].labeler_name}
            td.right(colspan='2') 
              span(style="padding-right:1.5em;") ผู้ขายได้นำส่งมอบเมื่อ
          tr  
            td.left(colspan='1')
              span วันที่ &nbsp;&nbsp;#{check_receive[c].receive_date}
            td.center(colspan='2')
              span(style="padding-right:3em") ตามใบส่งของเลขที่ #{check_receive[c].delivery_code}
            td.left(colspan='1')
              span(style="padding-left:1.5em;") จำนวน #{check_receive[c].amount_qty} รายการ
          tr
            td.left(colspan='1') รวมเป็นเงินสุทธิ
            td.left(colspan='3' ) #{check_receive[c].total_price} บาท (#{bahtText[c]})
          tr
            td.left(colspan='4') เห็นว่ามีปริมาณและคุณภาพถูกต้องครบถ้วน และได้ส่งมอบให้เจ้าหน้าที่พัสดุรับไว้เรียบร้อยแล้ว
          tr
            td.left(colspan='4') 
              span(style="padding-left:8em") จึงพร้อมกันลงลายมือชื่อไว้เป็นหลักฐาน
        //- .fontspace
        //- | ตามบันทึกที่ #{check_receive[c].purchase_order_number} ลงวันที่ #{check_receive[c].podate} ได้แต่งตั้งคณะกรรมการตรวจรับพัสดุนั้น บัดนี้คณะกรรมการตรวจรับพัสดุได้ร่วมกันตรวจพัสดุซึ่ง 
        //- | &nbsp;&nbsp;&nbsp;#{check_receive[c].labeler_name}&nbsp;&nbsp;&nbsp; ผู้ขายได้นำส่งมอบเมื่อ วันที่ &nbsp;&nbsp;#{check_receive[c].receive_date} &nbsp;&nbsp;ตามใบส่งของเลขที่ #{check_receive[c].delivery_code} จำนวน #{check_receive[c].amount_qty} รายการ 
        //- |	รวมเป็นเงินสุทธิ #{check_receive[c].total_price} บาท (#{bahtText[c]}) 
        //- br
        //- | คณะกรรมการตรวจรับพัสดุเห็นว่ามีปริมาณและคุณภาพถูกต้องครบถ้วน และได้ส่งมอบให้เจ้าหน้าที่พัสดุรับไว้เรียบร้อยแล้ว 
        //- br
        //- | จึงพร้อมกันลงลายมือชื่อไว้เป็นหลักฐาน
        br
        table(style="width: 90%; margin-left: 5%;")
          - var i = 0
                for v in committee[c]
                  - i++ 
                    tr
                      td.right(width="25%") (ลงชื่อ)
                      td.left(width="50%")  ........................................................... #{v.position_name}
                      td.left(width="10%") 
                      td.left(width="15%")
                    tr
                      td
                      td.left (#{v.title_name}#{v.fname} #{v.lname})
                      td.center 
                      td
                    tr
                      td
                      td.center(height='20px')
                      td
                      td
        | ได้รับมอบพัสดุรายการข้างต้นจากคณะกรรมการตรวจรับพัสดุไว้แล้วเพื่อเบิกจ่ายต่อไป
        br
        br
        table(style="width: 80%; margin-left: 5%;")
          tr
            td.right(width="5%") (ลงชื่อ)
            td.left(width="70%") ........................................................... #{staffReceive.type_name}
            td.right 
            td.left 
          tr
            td
            td.left ( #{staffReceive.title_name}#{staffReceive.fname}  #{staffReceive.lname} )
            td
            td
        br
        | เรียน  ผู้ว่าราชการจังหวัด#{province}
        br
        .fontspace
        | คณะกรรมการได้ตรวจรับเวชภัณฑ์ ดังกล่าวถูกต้องแล้ว การส่งมอบ ( &nbsp; ) ภายในกำหนด ( &nbsp; ) เกินกำหนด เห็นควรอนุมัติให้เบิกจ่ายเงินบำรุงโรงพยาบาลประจำปีงบประมาน 2561 แก่ผู้ขายต่อไป
        br
        br
        br
        table(style='width:90%;margin-left:5%;')
          tr
            td.right(width="5%")
            td.center(width="50%") ...........................................................
            td.left 
          tr
            td
            td.center (#{chief.title}#{chief.fname}  #{chief.lname})
            td
          tr
            td
            td.center(style='white-space: nowrap;') #{chief.position_name}
            td
          tr
            td
            td.center #{chief.position}
            td
          tr
            td
            td(style="height:20px;")
            td
          tr
            td
            td(style="height:70px;").center ทราบ
            td
          tr
            td.right(width="5%")
            td.center(width="50%") ...........................................................
            td.left 
          tr
            td.center 
            td.center  
              | (#{master})
              br
              | ผู้อำนวยการ#{hospitalName}
              br
              | ปฏิบัติราชการแทนผู้ว่าราชการจังหวัด#{province}
            td
        - c++ 
        .pagebreak