include css.pug
style(type='text/css' media='print').
  @page{
      margin-top: 1cm;
      margin-left: 3cm;
      margin-right: 1.5cm;
  }
style(type='text/css').
  body{
  font-family:'THSarabunNewIT';
  font-size: 14.5pt;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    -var s = 0;
    - for(var i of head)
      img(src=APIURL+'krut.png' height='60px')
      .headkut.h1 บันทึกข้อความ
      br
      table.table
        tr
          td.left 
            .bold.conleft ส่วนราชการ &nbsp;
            | #{hospitalDetail.hospname}
          td.center(style="padding-right:35px;") 
        tr
          td.left 
            .bold.conleft ที่ &nbsp;
            | #{hospitalDetail.bookPrefix}
          td.left วันที่ #{i.receive_date}
      .left.bold.conleft
        | เรื่อง&nbsp;
      .noneBold รายงานการตรวจรับพัสดุ
      hr
      .left.bold.conleft
        | เรียน&nbsp;
      .noneBold ผู้ว่าราชการจังหวัด#{hospitalDetail.province}
      .fontspace 
      | ตามบันทึกข้อความที่ #{i.poNumber}&nbsp;
      | ลงวันที่ #{i.order_date} อนุมัติให้ดำเนินการจัดซื้อรวม #{i.details.length} รายการ
      | เป็นเงิน #{i.totalPrice} บาท (#{i.bahtText})
      br
      | ตามใบสั่งซื้อเลขที่ #{i.poNumber} และแต่งตั้งให้ข้าพเจ้าเป็นผู้ตรวจรับพัสดุ นั้น
      br
      .fontspace
      | บัดนี้ #{i.labeler_name_po} ได้นำสิ่งของตามรายการและจำนวนดังกล่าว 
      br
      | มาส่งมอบ ณ #{hospitalDetail.hospname} ตามใบส่งของเลขที่ วันที่ใบส่งของ วันที่รับของ ดังรายการต่อไปนี้
      table.table
        - if(i.details.length <= 5)
          - var i = 0
          tr
            th
            th.left เลขที่ใบส่งของ
            th วันที่ใบส่งของ
            th วันที่รับของ
            th วันที่ตรวจรับของ
            th วันที่ลงบัญชีรับของ
            th จำนวนเงิน(บาท)
          for v in i.details
            tr
              td.left #{i+1} &nbsp;
              td.left #{v.delivery_code} &nbsp;
              td.right #{v.delivery_date} &nbsp;
              td.right #{v.receive_date} &nbsp;
              td.right #{v.approve_date} &nbsp;
              td.right #{v.approve_date} &nbsp;
              td.right #{v.total_price} &nbsp;
              - i++
          tr
            td(colspan='5')
            th.right รวมทั้งสิ้น
            th.right #{i.totalPrice} &nbsp;
            br
        - else
          | ดังปรากฏรายละเอียดตรวจรับตามใบแนบเลขที่ #{i.poNumber}
      | ซึ่งข้าพเจ้าได้ทำการตรวจรับพัสดุตามใบส่งของเป็นการถูกต้องแล้ว ตามวันที่ตรวจรับของ ดังกล่าวข้างบน จึงได้ลงนามไว้เป็นหลักฐานและได้ส่งมอบพัสดุดังกล่าวให้กับเจ้าหน้าที่พัสดุแล้ว      
      br
      div(style="width: 50%; margin-left:15%;") จึงเรียนมาเพื่อโปรดทราบ
      table(style="width: 60%; margin-left:40%;")
        - var no = 0
        - for(var c of i.committee)
          - no++ 
            tr
              td
              td(style="height:20px;")
              td 
            tr
              td.right(width="5%") ลงชื่อ
              td.center(width="50%") ........................................................... 
              td.left &nbsp;#{c.position}
            tr
              td
              td.center (#{c.fullname})
              td.center 
      | เจ้าหน้าที่พัสดุได้รับมอบพัสดุตามรายการข้างต้นถูกต้องและได้ลงบัญชีพัสดุเรียบร้อยแล้ว
      br
      br
      table(style="width:50%;margin-left:50%")
        if(i.supply == null)
          tr
            td.right(style="width:5%") ลงชื่อ
            td.center(style="width:60%") ...........................................................
            td.left 
          tr
            td.right
            td.center
            td.left
        else
          tr
            td.right(style="width:6%") ลงชื่อ
            td.center(style="width:60%") ...........................................................
            td.left #{i.supply.position}
          tr
            td.right
            td.center (#{i.supply.fullname})
            td.left
      table.table
        tr
          td(style="width:30%").center เรียน ผู้ว่าราชการจังหวัด#{hospitalDetail.province}
          td(style="width:70%")
        tr
          td(style="width:30%").center เพื่อโปรดทราบ
          td(style="width:70%").center คำสั่ง ทราบ
      br
      table.table
        tr
          td(style="width:50%")
            table.table
              if(i.chief == null)
                tr
                  td.right(style="width:10%") ลงชื่อ
                  td.center(style="width:30%") ...........................................................
                  td.left หัวหน้าเจ้าหน้าที่
                tr
                  td
                  td.center 
                  td
                tr
                  td
                  td.center 
                  td
                tr
                  td
                  td.center 
                  td
              else
                tr
                  td.right(style="width:10%") ลงชื่อ
                  td.center(style="width:30%") ...........................................................
                  td.left #{i.chief.position}
                tr
                  td
                  td.center (#{i.chief.fullname})
                  td
                tr
                  td
                  td.center #{i.chief.position_name}
                  td
          td(style="width:50%")
            table.table
              tr
                td.center(colspan=3) 
              tr
                td.center(colspan=3) (#{i.manager.fullname})
              tr
                td.center(colspan=3) #{i.manager.position}
              tr
                td.center(colspan=3) ปฏิบัติราชการแทน ผู้ว่าราชการจังหวัด#{hospitalDetail.province}
              tr
                td.center(colspan=3) ......../......../........
      .pagebreak
      - if(i.details.length > 5)
        .center.bold รายละเอียดตรวจรับ(ใบแนบ)
        br
        table.table
          tr
            td.left เลขที่ #{i.poNumber}
        br
        br
        table.table
          tbody
            - var no = 1
            tr
              th
              th.left เลขที่ใบส่งของ
              th วันที่ใบส่งของ
              th วันที่รับของ
              th วันที่ตรวจรับของ
              th วันที่ลงบัญชีรับของ
              th จำนวนเงิน(บาท)
            for v in i.details
              tr
                td.left #{no} &nbsp;
                td.left #{v.delivery_code} &nbsp;
                td.right #{v.delivery_date} &nbsp;
                td.right #{v.receive_date} &nbsp;
                td.right #{v.approve_date} &nbsp;
                td.right #{v.approve_date} &nbsp;
                td.right #{v.total_price} &nbsp;
                - no++
          tfoot.tbfooter
            tr
              td(colspan='4')
              td.right รวมทั้งสิ้น
              td(colspan='2').right #{i.totalPrice} &nbsp;
            tr
              td(colspan='4')
              td.right 
              td(colspan='2').right (#{i.bahtText}) &nbsp;
      - s++
      .pagebreak