include css.pug
style(type='text/css').
  body{
  font-family:'THSarabunNewIT';
  font-size: 13pt;
  margin-left: 50px;
  margin-right: 50px;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    - var c = 0
      for v in receiveID
        .center.bold บันทึกข้อความ
        .left.bold ส่วนราชการ
        br
        table.table
          tr
            td.left ส่วนราชการ #{hospitalName}
            td.center(style="padding-right:35px;") 
          tr
            td.left ที่ #{check_receive[c].receive_code}
            td.left วันที่ #{check_receive[c].receive_date}
        .left.bold.conleft
          | เรื่อง&nbsp;
        .noneBold รายงานการตรวจรับพัสดุ
        .left.bold.conleft
          | เรียน&nbsp;
        .noneBold ผู้ว่าราชการจังหวัด#{province}
        if(check_receive[c].purchase_order_book_number !== null)
          .fontspace 
          | ตามบันทึกข้อความที่ #{check_receive[c].purchase_order_book_number}&nbsp;
        else
          .fontspace 
          | ตามบันทึกข้อความที่ #{check_receive[c].purchase_order_number}&nbsp;
        | ลงวันที่ #{check_receive[c].podate} อนุมัติให้ดำเนินการจัดซื้อรวม #{check_receive[c].amount_qty} รายการ
        | เป็นเงิน #{check_receive[c].total_price} บาท (#{bahtText[c]})
        br
        | ตามใบสั่งซื้อเลขที่ 
        if(check_receive[c].purchase_order_book_number !== null)
          | #{check_receive[c].purchase_order_book_number}
        else
          | #{check_receive[c].purchase_order_number}
        | และแต่งตั้งให้ข้าพเจ้าเป็นผู้ตรวจรับพัสดุ นั้น
        br
        .fontspace
        | บัดนี้ #{check_receive[c].labeler_name_po} ได้นำสิ่งของตามรายารและจำนวนดังกล่าว 
        br
        | มาส่งมอบ ณ #{hospitalName} ตามใบส่งของเลขที่ วันที่ใบส่งของ วันที่รับของ ดังรายการต่อไปนี้
        br
        table(style="width: 90%; margin-left: 5%;")
          - var i = 0
                for v in committee[c]
                  - i++ 
                    tr
                      td
                      td(style="height:20px;")
                      td 
                      td
                    tr
                      td.right(width="5%") (ลงชื่อ)
                      td.center(width="50%") ........................................................... 
                      td.left ตำแหน่ง #{v.pname}
                      td.left &nbsp;#{v.position_name}
                    tr
                      td
                      td.center (#{v.title_name}#{v.fname} #{v.lname})
                      td.center 
                      td
        | ได้รับมอบพัสดุรายการข้างต้นจากคณะกรรมการตรวจรับพัสดุไว้แล้วเพื่อเบิกจ่ายต่อไป
        br
        br
        table(style="width: 80%;")
          tr
            td.right(width="5%") (ลงชื่อ)
            td.center(width="20%") ...........................................................
            td.left ตำแหน่ง #{staffReceive.position_name}
            td.left &nbsp; #{staffReceive.type_name}
          tr
            td
            td.center ( #{staffReceive.title_name}#{staffReceive.fname}  #{staffReceive.lname} )
            td
            td
        br
        | เรียน  ผู้ว่าราชการจังหวัด#{province}
        br
        .fontspace
        | คณะกรรมการได้ตรวจรับเวชภัณฑ์ ดังกล่าวถูกต้องแล้ว การส่งมอบ ( &nbsp; ) ภายในกำหนด ( &nbsp; ) เกินกำหนด เห็นควรอนุมัติให้เบิกจ่ายเงินบำรุงโรงพยาบาลประจำปีงบประมาน #{serialYear} แก่ผู้ขายต่อไป
        br
        br
        br
        table(style='width:90%;margin-left:5%;')
          tr
            td.right(width="5%")
            td.center(width="50%") ...........................................................
            td.left 
          if(!chief)
            tr
              td
              td.center 
              td
            tr
              td
              td.center 
              td
            tr
              td
              td.center 
              td
          else
            tr
              td
              td.center (#{chief.title}#{chief.fname}  #{chief.lname})
              td
            tr
              td
              td.center #{chief.position_name}
              td
            tr
              td
              td.center #{chief.position}
              td
          tr
            td
            td(style="height:20px;")
            td
          tr
            td
            td(style="height:70px;").center ทราบ
            td
          tr
            td.right(width="5%")
            td.center(width="50%") ...........................................................
            td.left 
          tr
            td.center 
            td.center  
              | (#{master})
              br
              | ผู้อำนวยการ#{hospitalName}
              br
              | ปฏิบัติราชการแทนผู้ว่าราชการจังหวัด#{province}
            td
        - c++ 
        .pagebreak