include css.pug
style(type='text/css').
  body{
  font-family:'THSarabunNewIT';
  font-size: 14.5pt;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    - var s = 0
      for v in check_receive
        .center.bold บันทึกการตรวจรับพัสดุ
        br
        table.table
          tr
            td.right(style="padding-right: 50px;") วันที่ #{check_receive[s][0].receive_date}
        .fontspace
        | ตามกรรมการผู้มีรายนามและตำแหน่งข้างท้าย ได้พร้อมกันตรวจรับ #{generic_name[s]}
        | ซึ่ง #{check_receive[s][0].labeler_name} ผู้ขายได้นำส่งตามใบสั่งซื้อของ#{hospitalName}
        | เลขที่ #{check_receive[s][0].purchase_order_number} ลงวันที่ #{check_receive[s][0].podate} 
        | เพื่อใช้ในงานการรักษาของ#{hospitalName}
        - if(length[s] <= 5)
          | ดังปรากฏรายละเอียดตรวจรับ คือ
          table.table
            - var i = 0
              for v in check_receive[s]
                tr
                  td.right #{v.generic_type_name} 
                  td.right &nbsp;&nbsp;#{v.amount_qty}&nbsp;&nbsp;
                  td.left รายการ 
                  td.right ตามใบส่งของเลขที่ &nbsp;&nbsp;&nbsp;
                  td.left #{v.delivery_code} &nbsp;&nbsp;&nbsp;
                  td.right เป็นเงิน 
                  td.right #{v.total_price} &nbsp;
                  td.left บาท 
                  td.left 
                - i++
            tr
              td(colspan='4').right รวมเป็นเงินทั้งสิ้น
              td.right #{bahtText[s]} &nbsp;
              td(colspan='4').left บาท (#{_bahtText[s]})
              br
        - else
          | ดังปรากฏรายละเอียดตรวจรับตามใบแนบเลขที่ 
          if(check_receive[s][0].purchase_order_book_number) 
            | #{check_receive[s][0].purchase_order_book_number}
          else
            | #{check_receive[s][0].purchase_order_number}  
        | คณะกรรมการตรวจรับพัสดุเห็นว่ามีปริมาณและคุณภาพถูกต้องครบถ้วน และได้ส่งมอบให้เจ้าหน้าที่พัสดุรับไว้เรียบร้อยแล้ว 
        | จึงพร้อมกันลงลายมือชื่อไว้เป็นหลักฐาน
        br
        table(style="width: 90%; margin-left: 5%;")
          - var c = 0
                for v in committee[s]
                  - c++ 
                    tr
                      td
                      td(style="height:20px;")
                      td 
                      td
                    tr
                      td.right(width="5%") (ลงชื่อ)
                      td.center(width="50%") ........................................................... 
                      td.left ตำแหน่ง #{v.pname}
                      td.left &nbsp;#{v.position_name}
                    tr
                      td
                      td.center (#{v.title_name}#{v.fname} #{v.lname})
                      td.center 
                      td
        | ได้รับมอบพัสดุรายการข้างต้นจากคณะกรรมการตรวจรับพัสดุไว้แล้วเพื่อเบิกจ่ายต่อไป
        br
        br
        table(style="width: 80%;")
          tr
            td.right(width="5%") (ลงชื่อ)
            td.center(width="20%") ...........................................................
            td.left ตำแหน่ง #{staffReceive.position_name}
            td.left &nbsp; #{staffReceive.type_name}
          tr
            td
            td.center ( #{staffReceive.title_name}#{staffReceive.fname}  #{staffReceive.lname} )
            td
            td
        | เรียน  ผู้ว่าราชการจังหวัด#{province}
        br
        .fontspace
        | คณะกรรมการได้ตรวจรับเวชภัณฑ์ ดังกล่าวถูกต้องแล้ว การส่งมอบ ( &nbsp; ) ภายในกำหนด ( &nbsp; ) เกินกำหนด เห็นควรอนุมัติให้เบิกจ่ายเงินบำรุงโรงพยาบาลประจำปีงบประมาน 2561 แก่ผู้ขายต่อไป
        br
        br
        br
        table(style='width:90%;margin-left:5%;')
          tr
            td.right(width="5%") (ลงชื่อ)
            td.center(width="50%") ...........................................................
            td.left 
          tr
            td
            td.center (#{chief.title}#{chief.fname}  #{chief.lname})
            td
          tr
            td
            td.center #{chief.position_name}
            td
          tr
            td
            td.center #{chief.position}
            td
          tr
            td
            td(style="height:20px;")
            td
          tr
            td
            td(style="height:60px;").center ทราบ
            td
          tr
            td.right(width="5%") (ลงชื่อ)
            td.center(width="50%") ...........................................................
            td.left 
          tr
            td.center 
            td.center  
              | (#{master})
              br
              | ผู้อำนวยการ#{hospitalName}
              br
              | ปฏิบัติราชการแทนผู้ว่าราชการจังหวัด#{province}
            td
        .pagebreak
        - if(length > 5)
          .center.bold รายละเอียดตรวจรับ(ใบแนบ)
          br
          table.table
            tr
              td.left เลขที่ #{check_receive[0].purchase_order_number}-๑
          br
          br
          table.table
            - var i = 0
              for v in check_receive[s]
                tr
                  td.right #{v.generic_type_name} 
                  td.right &nbsp;&nbsp;#{v.amount_qty}&nbsp;&nbsp;
                  td.left รายการ 
                  td.right ตามใบส่งของเลขที่ &nbsp;
                  td.left #{v.delivery_code} 
                  td.right เป็นเงิน 
                  td.right #{v.total_price} &nbsp;
                  td.left บาท 
                  td.left (#{bahtText[s][i]})
                br
              - i++  
        - s++
        .pagebreak