include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    - var c=0
    - for(var i in list)
      span.page
      table.table
        thead
          tr
            td.center.bold(colspan='8') #{hospitalName}
          tr
            td.center.bold(colspan='8') รายงานสถานะเวชภัณฑ์คงคลัง
          tr
            td.center.bold(colspan='8') ณ วันที่ #{statusDate_text}
          tr
            td.center.bold(colspan='8') คลัง #{warehouseName}
          tr
            td.left.bold(colspan='4' ) #{printDate}
            td.right.bold(colspan='4' ) 
              //- span หน้า #{(i*1)+1}
          tr
            td.left(colspan='8') 
          tr
            th.center เลขที่
            th.left รหัสเวชภัณฑ์
            th.left(style="width:45%") รายการเวชภัณฑ์
            th.right จำนวน
            th.left &nbsp;หน่วย
            th.right ราคาต่อหน่วย
            th.right มูลค่า
        tbody
        - var y=0
        for a in  list[i]
          - y++
          - c++
          tr
            td.center #{c}
            td.left #{a.generic_code}
            td.left #{a.generic_name}
            td.right #{a.qty}
            td.left &nbsp;#{a.small_unit}
            td.right #{a.unit_cost}
            td.right #{a.total_cost}
        tfooter 
          tr
            th(colspan='8')
          //- tr
          //-   td(colspan='8')
          //-     | &nbsp;
          if(((i*1)+1) !== sumlist.length)
            tr
              td.bold.right(colspan='8') รวมมูลค่า #{sumlist[i]} บาท
          else
            tr
              td.bold.right(colspan='8') รวมมูลค่า #{sumlist[i]} บาท
            tr
              td.bold.right(colspan='8') รวมมูลค่าทั้งสิ้น #{totalsumShow} บาท
      if(y == list[i].length)
            .pagebreak