include css.pug
style(media='print').
  @page { size: landscape; }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    table.table(style="font-size: 13pt;")
      thead
        tr 
          td.center(colspan='9') รายงานการตรวจสอบการรับ-จ่ายยา#{hospitalName} ประจำปีงบประมาณ #{year} (1 ตุลาคม #{syear} - 30 กันยายน #{year})
        tr
          th.center.bold(style="border: 1px solid black;") รายการ
          th.center.bold(style="border: 1px solid black;") ขนาดบรรจุ
          th.center.bold(style="border: 1px solid black;") ราคาต่อขนาดบรรจุ
          th.center.bold(style="border: 1px solid black;") ยอดยกมา
          th.center.bold(style="border: 1px solid black;") รับ
          th.center.bold(style="border: 1px solid black;") จ่าย
          th.center.bold(style="border: 1px solid black;") คงเหลือ
          th.center.bold(style="border: 1px solid black;") มูลค่าคงเหลือ
          th.center.bold(style="border: 1px solid black;width:80px") หมายเหตุ
      tbody
      - y=0
      for a in rs
        - y++
        tr
          td.left(style="border: 1px solid black;") #{a.product_name}
          td.center(style="border: 1px solid black;") #{a.pack} (#{a.qty} #{a.small_unit})
          td.center(style="border: 1px solid black;") #{a.unit_price}
          td.right(style="border: 1px solid black;") #{a.summit}
          td.right(style="border: 1px solid black;") #{a.in_qty}
          td.right(style="border: 1px solid black;") #{a.out_qty}
          td.right(style="border: 1px solid black;") #{a.balance}
          td.right(style="border: 1px solid black;") #{a.amount}
          td.right(style="border: 1px solid black;") 
      tfoot
        tr(style='border: 0; height:30px;')
          
        tr(style='border: 0' )
          td.center(colspan='9')
            div(style='width:33%;float:left;') ลงชื่อ......................................................ประธานกรรมการ
            div(style='width:33%;float:left;') ลงชื่อ......................................................กรรมการ
            div(style='width:33%;float:left;') ลงชื่อ......................................................กรรมการ
        tr(style='border: 0')
          td.center(colspan='9')
            div(style='width:33%;float:left;') (#{committee[0].title_name} #{committee[0].fname} #{committee[0].lname})
            div(style='width:33%;float:left;') (#{committee[1].title_name} #{committee[1].fname} #{committee[1].lname})
            div(style='width:33%;float:left;') (#{committee[2].title_name} #{committee[2].fname} #{committee[2].lname})
        tr(style='border: 0')
          td.center(colspan='9')
            div(style='width:33%;float:left;') #{committee[0].position_name}
            div(style='width:33%;float:left;') #{committee[1].position_name}
            div(style='width:33%;float:left;') #{committee[2].position_name}
      .pagebreak