include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    - for(var page in list_requis)
      .page
      table.table
        thead
          tr 
            td.center.bold #{hospitalName} 
          tr 
            td.center.bold ใบจัดเวชภัณฑ์ตามใบเบิก
          tr 
            td.center วันที่เบิก #{list_requis[page][0].requisition_date}
          tr 
            td.left ใบเบิกเลขที่ #{list_requis[page][0].requisition_code}
          tr 
            td.left วันที่อนุมัติเบิก #{list_requis[page][0].confirm_date}
          tr 
            td.left หน่วยงานที่เบิก #{list_requis[page][0].warehouse_name}
          tr 
            td.left หน่วยงานที่จ่าย #{list_requis[page][0].withdraw_warehouse_name}
          tr 
            td.left #{printDate}
        - for(var head in list_requis[page])
          tbody
            tr.dash-top
              td
                table.table
                  tr
                    td รหัสยา 
                    td(width="55%") : #{list_requis[page][head].title.generic_code}
                    td จำนวนขอเบิก
                    td : #{list_requis[page][head].title.requisition_qty} #{list_requis[page][head].title.large_unit} (#{list_requis[page][head].title.unit_qty} #{list_requis[page][head].title.small_unit})
                  tr
                    td ชื่อสามัญ
                    td(width="55%") : #{list_requis[page][head].title.generic_name}
                    td จำนวนเบิก
                    td : #{list_requis[page][head].title.confirm_qty} #{list_requis[page][head].title.large_unit} (#{list_requis[page][head].title.unit_qty} #{list_requis[page][head].title.small_unit})
                  tr
                    td หน่วยบรรจุ
                    td : #{list_requis[page][head].title.large_unit}
                    td รูปแบบ
                    td : #{list_requis[page][head].title.dosage_name}
            tr
              td
                table.table
                  tr
                    td.center(width="40%") ชื่อทางการค้า 
                    td จำนวนเบิก
                    td วันหมดอายุ
                    td lot no.
                    td คงเหลือ
                  - for(var detail in list_requis[page][head].title.items)
                    tr
                      td #{list_requis[page][head].title.items[detail].product_name}
                      td #{list_requis[page][head].title.items[detail].confirm_qty}
                      td #{list_requis[page][head].title.items[detail].expired_date}
                      td #{list_requis[page][head].title.items[detail].lot_no}
                      td #{list_requis[page][head].title.items[detail].remain} #{list_requis[page][head].title.items[detail].large_unit} (#{list_requis[page][head].title.items[detail].conversion_qty} #{list_requis[page][head].title.items[detail].small_unit})
            tr.dash-bottom
              td(colspan='10')
      .pagebreak
