include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    center
    table.table
      thead
        tr
          td.center.bold(colspan='6') #{hospitalName}
        tr
          td.center.bold(colspan='6' ) รายงานมูลค่ายาและเวชภัณฑ์คงคลัง
        if (warehouseName === 'ทุกคลังสินค้า')
          tr
            td.left(colspan='6' ) #{warehouseName}
        else
          tr
            td.left(colspan='6' ) คลัง #{warehouseName}
        tr
          td.left(colspan='6') #{printDate}
        tr
          th.center ลำดับที่
          th.left รายการ
          th.right มูลค่าคงคลัง
          th.right ยอดรวม
          th.right หมายเหตุ
      tbody
      - y=0
      - s=1
      for a in list_cost
        if  (a.generic_type_name !== null)
          - y++
          if(a.generic_type_code == 'MEDICINE')
            tr
              td.center #{y}
              td #{a.generic_type_name}
              td
              td
              td
          else
            tr
              td.center #{y}
              td #{a.generic_type_name}
              td.right #{a.cost}
              td.right #{a.sum}
              td.right (#{s})
            - s++
        if(a.generic_type_code == 'MEDICINE') 
          tr
            td  
            td - #{a.account_name}
            td.right #{a.cost}
            td.right #{a.sum}
            td.right (#{s})
          - s++
      tfooter 
        tr
          td.dash-top.right(colspan=6) รวมมูลค่าทั้งสิ้น #{sumt} บาท