include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body(style="font-size: 13pt;")
    table.table
        thead
        tr 
            td.center.bold(colspan='6') #{hospitalName} 
        tr 
            td.center.bold(colspan='6') สรุป งานคลังเวชภัณฑ์
        tr 
            td.center.bold(colspan='6') ประจำเดือน#{monthName} พ.ศ.#{year}
        tr 
            th.left(rowspan='2') ลำดับ
            th.left(rowspan='2') รายการ
            th.center(colspan='4') มีมูลค่า (บาท)
        tr(style="font-size: 11pt;")
            th.right ยอดคงคลังยกมาจาก
                br
                | เดือน#{monthbeforName}
            th.right รับเข้าคลัง
                br
                | (ใน 1 เดือน)
            th.right จ่ายออกจากคลัง
                br
                | (ใน 1 เดือน)
            th.right เหลือคงคลัง
                br
                | (เมื่อสิ้นเดือน)
        - var l=0
        for i in ans
            span.page
            tr 
                td.left #{l+1}
                if(i.account_code == "ed")
                    td.left ยาในบัญชียาหลัก
                else
                    if(i.account_code == "ned")
                        td.left ยานอกบัญชียาหลัก
                    else
                        if(i.account_name)
                            td.left  #{i.generic_type_name} - #{i.account_name}
                        else
                            td.left  #{i.generic_type_name}
                td.right #{i.balance}
                td.right #{i.in_cost}
                td.right #{i.out_cost}
                td.right #{i.balanceAfter}
            - l++ 
        tr
            td
            td.left รวมทุกประเภท
            td.right #{sum.balance}
            td.right #{sum.in_cost}
            td.right #{sum.out_cost}
            td.right #{sum.balanceAfter}