include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    - for(var i in  issueBody )
      span.page
      table.table
        thead
          tr
            td.center.bold(colspan='5') #{hospitalName}
          tr
            td.center.bold(colspan='5' ) รายงานตัดจ่ายสินค้า
          tr
            td.left(colspan='5') ใบตัดจ่ายเลขที่ : #{issueBody[i].issue_code}
          tr
            td.left(colspan='5') #{printDate}
          tr
            td.left(colspan='5') วันที่ตัดจ่าย : #{issue_date[i]}
          tr
            td.left(colspan='5') ประเภท : #{issueBody[i].ref_document}
          tr
            td.left(colspan='5') คลัง #{issueListDetail[0][0].warehouse_name}  มีความประสงค์ขอตัดจ่ายเวชภัณฑ์ จำนวน #{count} รายการ ดังต่อไปนี้
          tr
            th.left #
            th.left(style="width:50%") ชื่อสินค้า  
            th.left Lot No.
            th.center วันหมดอายุ 
            th.right จำนวนจ่าย
            th.right มูลค่าตัดจ่าย
        tbody
        - for(var b in issueListDetail[i] )
            tr
              td.left #{(b*1)+1})
              td.left(style="") #{issueListDetail[i][b].generic_name} (#{issueListDetail[i][b].product_name})
              td.left(style="") #{issueListDetail[i][b].lot_no}
              td.center #{issueListDetail[i][b].expired_date}   
              td.right #{issueListDetail[i][b].qty} #{issueListDetail[i][b].to_unit_name}
              td.right #{issueListDetail[i][b].cost}
        tfooter
          tr
            td.tbfooter.right(colspan="6")
          tr
            td.right(colspan="5") รวมมูลค่า
            td.right #{issueBody[i].sum} บาท
      table(style='width:60%;margin-left:25%;')
        tr
          td(colspan='5' height='60px;')
        tr
          td.right ลงชื่อ
          td.center ...................................................................................
          td.left ผู้ตัดจ่าย
        tr
          td
          td.center (...................................................................................)
          td
        tr
          td(colspan='5' height='40px;')
        tr
          td.right ลงชื่อ
          td.center ...................................................................................
          td.left หัวหน้าฝ่าย/กลุ่มงาน/งาน
        tr
          td
          td.center (...................................................................................)
          td
        tr
          td(colspan='5' height='40px;')
      .pagebreak

            