include css.pug
style(media='print').
style(type='text/css').
  body{
  font-size: 12pt;
  }
  @page{
    margin-top: 2cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
 }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    table.table
      thead
        tr
          td.center.bold.head(colspan='12' style="font-size: 13pt;") #{hospitalName}
        tr
          td.center.bold.head(colspan='12' style="font-size: 13pt;") รายงานเวชภัณฑ์ที่รับจากการสั่งซื้อ
        tr
          td.center.bold.head(colspan='12' style="font-size: 13pt;") วันที่ #{startdate} ถึง #{enddate}
        tr
          td.left(colspan='12' style="font-size: 13pt;") #{printDate}
        tr.dash-top(style="font-size: 13pt;")
          td.center ลำดับ
          td.left เลขที่ใบสั่งซื้อ
          td.left วันที่รับของ
          td.left รหัสเวชภัณฑ์
          td.left ชื่อเวชภัณฑ์
          td.left ชื่อทางการค้า
          td.left จำนวน
          td.left ราคาต่อหน่วย
          td.left ราคาทั้งหมด
          td.left ประเภท
          td.left ชนิด
          td.left บริษัทผู้จำหน่าย
        tr.dash-bottom
          td(colspan='12' style="font-size: 13pt;")
      tbody
        - var y = 0
          for b in productReceive
            - y++
              tr(style="font-size: 12pt;")
                td.center #{y}
                td.left #{b.purchase_order_number}
                td.left #{b.receive_date}
                td.left #{b.generic_code}
                td.left #{b.generic_name}
                td.left #{b.product_name}
                td.left #{b.receive_qty} #{b.large_unit} (#{b.qty} #{b.unit_name})
                td.left #{b.cost}
                td.left #{b.total_cost}
                td.left #{b.generic_type_name}
                td.left #{b.account_name}
                td.left #{b.labeler_name}
      tfooter
        tr
          td.tbfooter(colspan="8")
          td.tbfooter.right(colspan="4") รวม #{productReceive.length} รายการ มูลค่ารวม #{allcost} &nbsp;บาท
