include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    table.table.table-bordered.center
      thead
        tr
          td.center.bold(colspan='6') #{hospitalName}
        tr
          td.center.bold(colspan='6' ) สรุปงานคลังเวชภัณฑ์
        tr
          td.center(colspan='6') ประจำเดือน #{date}
        tr
          td.left(colspan='6') ณ วันที่ #{today}
        tr
          th ลำดับที่
          th.left รายการ
          th.right ยอดคงคลังยกมาจากเดือนพฤษภาคม
          th.right รับเข้าคลัง<br>(ใน 1 เดือน)
          th.right จ่ายออกจากคลัง<br>(ใน 1 เดือน)
          th.right เหลือคงคลัง<br>(เมื่อสิ้นเดือน)
      tbody
      - y=0
      for a in totalcost_warehouse
        - y++
        tr
          td #{y}
          td.left #{a.generic_type_name}
          td.right #{a.summit}
          td.right #{a.receive1m}
          td.right #{a.issue1m}
          td.right #{a.balance}
      tfooter
        tr
          td.tbfooter(colspan="6")