include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    table.table.table-bordered.center
      thead
        tr
          td.center.bold(colspan='6') #{hospitalName}
        tr
          td.center.bold(colspan='6' ) สรุปงานคลังเวชภัณฑ์
        tr
          td.center(colspan='6') ประจำวันที่ #{sdate} ถึง #{edate}
        tr
          td.left(colspan='6') คลัง #{wareHouseName}
        tr
          td.left(colspan='6') ณ วันที่ #{today}
        tr
          th(colspan='1' rowspan='2' style='vertical-align: text-bottom;') ลำดับที่
          th.left(colspan='1' rowspan='2' style='vertical-align: text-bottom;') รายการ
          th.center(colspan='4') มีมูลค่า ( บาท )
        tr
          th.right ยอดคงคลังยกมาถึงวันที่ <br>#{sdate}
          th.right รับเข้าคลัง<br>(ในวันที่ #{sdate} <br>ถึง #{edate})
          th.right จ่ายออกจากคลัง<br>(ในวันที่ #{sdate} <br>ถึง #{edate})
          th.right เหลือคงคลัง<br>(เมื่อวันที่ #{edate})
      tbody
      - y=0
      for a in totalcost_warehouse
        - y++
        tr
          td #{y}
          td.left #{a.generic_type_name}
          td.right #{a.summit}
          td.right #{a.receive1m}
          td.right #{a.issue1m}
          td.right #{a.balance}
      tfooter
        tr
          td.tbfooter
          td.tbfooter.left รวมทุกประเภท
          td.tbfooter.right #{sum.summit}
          td.tbfooter.right #{sum.receive1m}
          td.tbfooter.right #{sum.issue1m}
          td.tbfooter.right #{sum.balance}
        tr
          td.tbfooter(colspan="6")