include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    table.table
        thead
            tr 
                td.center.bold(colspan='9') #{hospitalName} 
            tr 
                td.center.bold(colspan='9') รายงานเวชภัณฑ์ค้างรับ
            tr 
                td.center(colspan='9') ณ วันที่ #{today}
        tbody
            tr.dash-top.dash-bottom
                td(style='border:none;')
                td(style='border:none;') เลขที่ใบสั่งซื้อ 
                td(style='border:none;') วันที่สั่งซื้อ
                td(style='border:none;') รายการ
                td(style='border:none;') จำนวน
            - var b = 0
                for a in unReceive
                    - ++b
                        tr
                            td #{b}
                            td #{a.purchase_order_number}
                            td #{a.order_date}
                            td #{a.product_name} 
                            td #{a.unit}
        tfooter
            tr.dash-bottom 
                td(colspan = '5')
        .pagebreak