doctype html
html
  head
    meta(charset="utf-8")
    title report
    style.
      html, body {
      margin: 0;
      padding: 10px;
      font-size: 11px;
      font-family: 'TH Sarabun New';
      }

      .small-space-line {
        line-height: 85%;
      }

      /*table*/
      table {
      border-spacing: 0;
      border-collapse: collapse;
      }
      td,
      th {
      padding: 0;
      }
      table {
      background-color: transparent;
      }
      caption {
      padding-top: 8px;
      padding-bottom: 8px;
      color: #777;
      text-align: left;
      }
      th {
      text-align: center;
      }
      .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      }
      .table > thead > tr > th,
      .table > tbody > tr > th,
      .table > tfoot > tr > th,
      .table > thead > tr > td,
      .table > tbody > tr > td,
      .table > tfoot > tr > td {
      padding: 2px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #333232;
      }
      .table > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #333232;
      }
      .table > caption + thead > tr:first-child > th,
      .table > colgroup + thead > tr:first-child > th,
      .table > thead:first-child > tr:first-child > th,
      .table > caption + thead > tr:first-child > td,
      .table > colgroup + thead > tr:first-child > td,
      .table > thead:first-child > tr:first-child > td {
      border-top: 0;
      }
      .table > tbody + tbody {
      border-top: 2px solid #333232;
      }
      .table .table {
      background-color: #fff;
      }
      .table-condensed > thead > tr > th,
      .table-condensed > tbody > tr > th,
      .table-condensed > tfoot > tr > th,
      .table-condensed > thead > tr > td,
      .table-condensed > tbody > tr > td,
      .table-condensed > tfoot > tr > td {
      padding: 1px;
      }
      .table-bordered {
      border: 1px solid #333232;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > tbody > tr > th,
      .table-bordered > tfoot > tr > th,
      .table-bordered > thead > tr > td,
      .table-bordered > tbody > tr > td,
      .table-bordered > tfoot > tr > td {
      border: 1px solid #333232;
      }
      .table-bordered > thead > tr > th,
      .table-bordered > thead > tr > td {
      border-bottom-width: 2px;
      }
      .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
      }
      .table-hover > tbody > tr:hover {
      background-color: #f5f5f5;
      }
      table col[class*="col-"] {
      position: static;
      display: table-column;
      float: none;
      }
      table td[class*="col-"],
      table th[class*="col-"] {
      position: static;
      display: table-cell;
      float: none;
      }
      .table > thead > tr > td.active,
      .table > tbody > tr > td.active,
      .table > tfoot > tr > td.active,
      .table > thead > tr > th.active,
      .table > tbody > tr > th.active,
      .table > tfoot > tr > th.active,
      .table > thead > tr.active > td,
      .table > tbody > tr.active > td,
      .table > tfoot > tr.active > td,
      .table > thead > tr.active > th,
      .table > tbody > tr.active > th,
      .table > tfoot > tr.active > th {
      background-color: #f5f5f5;
      }
      .table-hover > tbody > tr > td.active:hover,
      .table-hover > tbody > tr > th.active:hover,
      .table-hover > tbody > tr.active:hover > td,
      .table-hover > tbody > tr:hover > .active,
      .table-hover > tbody > tr.active:hover > th {
      background-color: #e8e8e8;
      }
      .table-responsive {
      min-height: .01%;
      overflow-x: auto;
      }

      table.center {
        margin-left:auto; 
        margin-right:auto;
      }

  body
    div(style="text-align:center;")
        p(style="font-size: 15px;")
          strong รายงานการรับเวชภัณฑ์
           |<br> คลัง : #{warehouseName}
        p(style="font-size: 15px;")
          strong ตั้งแต่วันที่ #{startdate} ถึงวันที่ #{enddate}
    table.table.table-bordered.center(style="width: 90%;")
      thead
        tr
          th #
          th วันที่รับ
          th เลขที่รับ
          th เลขที่บิล
          th ชื่อยา
          th จำนวนรับ
          th ขนาดบรรจุ
          th มูลค่าซื้อ
          th เลขที่สั่งซื้อ
          th ผู้ขาย
      tbody
        - var y = 0
          for b in productReceive
            - y++
              tr
                td(style="width: 20px;") #{y}
                td(style="width: 100px;") #{b.receive_date}
                td(style="text-align: left;") #{b.receive_id}
                td(style="text-align: center;") #{b.delivery_code}
                td(style="text-align: center;") #{b.generic_name}
                td(style="text-align: center;") #{b.receive_qty} x #{b.small_qty}
                td(style="text-align: center;") #{b.small_unit}
                td(style="text-align: center;") #{b.total_cost}
                td(style="text-align: center;") #{b.purchase_id}
                td(style="text-align: center;") #{b.labeler_name}